extends ../layout

block content
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="my-3">Description</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        <h5 class="my-3">Attachments</h5>
        <ul>
          <li>
              <p><strong>SpreadSheet Cases</strong> (<a href="#">spreadsheet.csv</a>)</p>
          </li>
          <li>
            <p><strong>Tool Link</strong> (<a href="#">https://toolone.org</a>)</p>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="/images/700x400.png" alt="">
      </div>
    </div>
  </div>
