extends ../layout

block content
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3 class="my-3">Description</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        <h5 class="my-2">Last Updates</h5>
        <ul>
          <li>
            <p><strong>May, 25th, 2019</strong><br />
            <span class="small">Version 1.2 released with Azure and GCP support.</span></p></li>
          <li>
            <p><strong>Oct, 7th, 2018</strong><br />
            <span class="small">Version 1.1 released with new orchestrator integrated.</span></p></li>
          <li>
            <p><strong>Jan, 21th, 2018</strong><br />
            <span class="small">Framework was presented on CLOSER 2019.</span></p></li>
        </ul>
      </div>
      <div class="col-md-7">
        <img class="img-fluid" src="/images/700x400.png" alt="">
      </div>
    </div>
  </div>
  
  <hr />
  
  <h3 class="my-4">Members</h3>
  <div class="row">
    <div class="col-xl-1 mb-4">
      <a href="#">
        <img class="rounded-circle w-100" src="/images/member1.jpg" alt="">
      </a>
    </div>
    <div class="col-xl-5 mb-4">
        <p class="text-secondary">
        <strong>LEONARDO REBOUÇAS DE CARVALHO</strong><br />
        <span>University of Brasília, Brasília, Brazil</span><br />
        <span>leouesb@gmail.com</span>
    </div>
    <div class="col-xl-1 mb-4">
      <a href="#">
        <img class="rounded-circle w-100" src="/images/member1.jpg" alt="">
      </a>
    </div>
    <div class="col-xl-5 mb-4">
        <p class="text-secondary">
        <strong>LEONARDO REBOUÇAS DE CARVALHO</strong><br />
        <span>University of Brasília, Brasília, Brazil</span><br />
        <span>leouesb@gmail.com</span>
    </div>
    <div class="col-xl-1 mb-4">
      <a href="#">
        <img class="rounded-circle w-100" src="/images/member1.jpg" alt="">
      </a>
    </div>
    <div class="col-xl-5 mb-4">
        <p class="text-secondary">
        <strong>LEONARDO REBOUÇAS DE CARVALHO</strong><br />
        <span>University of Brasília, Brasília, Brazil</span><br />
        <span>leouesb@gmail.com</span>
    </div>    
    <div class="col-xl-1 mb-4">
      <a href="#">
        <img class="rounded-circle w-100" src="/images/member1.jpg" alt="">
      </a>
    </div>
    <div class="col-xl-5 mb-4">
        <p class="text-secondary">
        <strong>LEONARDO REBOUÇAS DE CARVALHO</strong><br />
        <span>University of Brasília, Brasília, Brazil</span><br />
        <span>leouesb@gmail.com</span>
    </div>
  </div>
