extends layout

block content
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="card h-100">
          <h4 class="card-header">
            <span>CCGRID - IEEE/ACM International Symposium on Cluster, Cloud and Internet Computing
            <button class="btn btn-success float-right"><i class="fas fa-bell"></i> Follow</button></span>
          </h4>
          <div class="card-body">
            <p class="card-text">The Annual IEEE/ACM International Symposium in Cluster, Cloud, and Grid Computing (CCGrid 2019) is a forum bringing together international researchers, developers, and practitioners to present leading research activities and results on a broad range of topics related to these concepts, platforms, and their applications. The conference features keynotes, technical presentations, workshops, and posters, as well as the Doctoral Symposium and the SCALE challenge featuring live demonstrations. CCGrid has travelled over the world.</p>
            <h5>EDITIONS</h5>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <h6><strong>2020</strong></h6>
                <p>May 11-14 - Melbourne, Victoria, Australia <br />
                <strong>Deadline:</strong> Dec, 10, 2019 <br />
                <a target="_blank" href="http://cloudbus.org/ccgrid2020/">http://cloudbus.org/ccgrid2020/</a></p>
              </div>
              <div class="col-md-6 col-lg-4">
                <h6><strong>2019</strong></h6>
                <p>May 14-17 - Larnaca, Cyprus <br />
                <a target="_blank" href="https://www.ccgrid2019.org/">https://www.ccgrid2019.org/</a></p>
              </div>
              <div class="col-md-6 col-lg-4">
                <h6><strong>2018</strong></h6>
                <p>May 11-14 - Melbourne, Victoria, Australia <br />
                <a target="_blank" href="http://cloudbus.org/ccgrid2020/">http://cloudbus.org/ccgrid2020/</a></p>
              </div>
              
              <div class="col-md-6 col-lg-4">
                <h6><strong>2017</strong></h6>
                <p>May 11-14 - Melbourne, Victoria, Australia <br />
                <a target="_blank" href="http://cloudbus.org/ccgrid2020/">http://cloudbus.org/ccgrid2020/</a></p>
              </div>
              <div class="col-md-6 col-lg-4">
                <h6><strong>2016</strong></h6>
                <p>May 14-17 - Larnaca, Cyprus <br />
                <a target="_blank" href="https://www.ccgrid2019.org/">https://www.ccgrid2019.org/</a></p>
              </div>
              <div class="col-md-6 col-lg-4">
                <h6><strong>2015</strong></h6>
                <p>May 11-14 - Melbourne, Victoria, Australia <br />
                <a target="_blank" href="http://cloudbus.org/ccgrid2020/">http://cloudbus.org/ccgrid2020/</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="card h-100">
          <h4 class="card-header">
            <span>CLOSER - International Conference on Cloud Computing and Services Science
            <button class="btn btn-success float-right"><i class="fas fa-bell"></i> Follow</button></span>
          </h4>
          <div class="card-body">
            <p class="card-text">The International Conference on Cloud Computing and Services Science, CLOSER, focuses on the highly important area of Cloud Computing, inspired by some latest advances that concern the infrastructure, operations, and available services through the global network. Further, the conference considers as essential the link to Services Science, acknowledging the service-orientation in most current IT-driven collaborations. The conference is nevertheless not about the union of these two (already broad) fields, but about Cloud Computing where we are also interested in how Services Science can provide theory, methods and techniques to design, analyze, manage, market and study various aspects of Cloud Computing.</p>
            <h5>EDITIONS</h5>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <h6><strong>2020</strong></h6>
                <p>May 07-10 - Online Streaming <br />
                <strong>Deadline:</strong> Dec, 10, 2019 <br />
                <a target="_blank" href="http://closer.scitevents.org/">http://closer.scitevents.org/</a></p>
              </div>
              <div class="col-md-6 col-lg-4">
                <h6><strong>2019</strong></h6>
                <p>May 14-17 - Heraklion, Greece <br />
                <a target="_blank" href="http://closer.scitevents.org/?y=2019">http://closer.scitevents.org/?y=2019</a></p>
              </div>
              <div class="col-md-6 col-lg-4">
                <h6><strong>2018</strong></h6>
                <p>May 11-14 - Melbourne, Victoria, Australia <br />
                <a target="_blank" href="http://cloudbus.org/ccgrid2020/">http://cloudbus.org/ccgrid2020/</a></p>
              </div>
              
              <div class="col-md-6 col-lg-4">
                <h6><strong>2017</strong></h6>
                <p>May 11-14 - Melbourne, Victoria, Australia <br />
                <a target="_blank" href="http://cloudbus.org/ccgrid2020/">http://cloudbus.org/ccgrid2020/</a></p>
              </div>
              <div class="col-md-6 col-lg-4">
                <h6><strong>2016</strong></h6>
                <p>May 14-17 - Larnaca, Cyprus <br />
                <a target="_blank" href="https://www.ccgrid2019.org/">https://www.ccgrid2019.org/</a></p>
              </div>
              <div class="col-md-6 col-lg-4">
                <h6><strong>2015</strong></h6>
                <p>May 11-14 - Melbourne, Victoria, Australia <br />
                <a target="_blank" href="http://cloudbus.org/ccgrid2020/">http://cloudbus.org/ccgrid2020/</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
