extends layout

block content
  <!-- Page Content -->
  <div class="container">
    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      <div class="col-lg-8 mb-4">
        <img class="card-img-top" src="/images/700x400.png" alt="">
      </div>
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-4">
        <h3>About</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus sem, auctor nec tempor non, suscipit laoreet leo. Vestibulum ut quam lobortis, feugiat dui vel, dictum magna. Mauris nec erat ut massa maximus consequat. Praesent eget elit at nisi commodo facilisis. Donec accumsan viverra luctus. Donec sed massa semper, lacinia nibh ut, finibus lorem. Vivamus interdum euismod dui non tristique. Duis in placerat felis, et varius dolor. Vestibulum rhoncus mi justo, sed commodo ante lacinia vitae. Aenean nec elementum urna. Ut bibendum sem eget lorem dictum tempus. Curabitur vel placerat arcu, vel ultrices metus. Curabitur egestas accumsan feugiat.
        </p>
      </div>
    </div>
    <!-- /.row -->

    <hr />
    <div class="row">
      <div class="col-lg-6 mb-4">
        <h3>History</h3>
        <p>
          In suscipit metus sit amet molestie tincidunt. Aliquam erat volutpat. Nam suscipit blandit tortor ut faucibus. Duis varius justo massa, quis ullamcorper risus mollis et. Sed id sem commodo, placerat ipsum eget, vestibulum lorem. Ut vitae congue lectus. Sed sem erat, consequat eget efficitur quis, accumsan eget tellus. 
        </p>
      </div>
      <div class="col-lg-6 mb-4">
        <h3>Providers</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus sem, auctor nec tempor non, suscipit laoreet leo. Vestibulum ut quam lobortis, feugiat dui vel, dictum magna. Mauris nec erat ut massa maximus consequat. Praesent eget elit at nisi commodo facilisis. Donec accumsan viverra luctus. Donec sed massa semper, lacinia nibh ut, finibus lorem. Vivamus interdum euismod dui non tristique. Duis in placerat felis, et varius dolor. Vestibulum rhoncus mi justo, sed commodo ante lacinia vitae. Aenean nec elementum urna. Ut bibendum sem eget lorem dictum tempus. Curabitur vel placerat arcu, vel ultrices metus. Curabitur egestas accumsan feugiat.
        </p>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
