<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/#{lang}">HOME</a>
  </li>
  each val, index in route.split('/')
    if index+1 == route.split('/').length
      <li class="breadcrumb-item active">#{val.toUpperCase()}</li>
    else
      <li class="breadcrumb-item">
        <a href="../#{val.toLowerCase()}">#{val.toUpperCase()}</a>
      </li>
</ol>
